<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.app.dao.LoginMapper">
    <!--<parameterMap type="java.util.Map" id="recommendMap">-->
        <!--<parameter property="inpara" mode="IN" jdbcType="VARCHAR"/>-->
        <!--<parameter property="outpara" mode="OUT" jdbcType="VARCHAR"/>-->
    <!--</parameterMap>-->
    <select id="queryFee" parameterType="hashmap" statementType="CALLABLE">
    <![CDATA[
    { call gogpay_user_qf(#{consNo, mode=IN, jdbcType=VARCHAR}, #{result, mode=OUT, jdbcType=VARCHAR}) }
    ]]>
    </select>
</mapper>